@import url("https://fonts.googleapis.com/css2?family=Madimi+One&display=swap");

* {
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  color: white;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(135deg, #0c0118, #17042c, #571855);
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

a {
  text-decoration: none;
}
