#categoriesSection {
  padding: 2rem;
}

#buttons {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

#buttonDiv {
  display: flex;
  width: 60vw;
  margin: auto;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 2rem;
  top: -120%;
}

#memes {
  position: relative;
  margin-top: 5vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  align-content: center;
}

.meme {
  border-radius: 20px;
  background-color: #240c4aa7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.meme:hover {
  transform: scale(1.05);
}

.meme-img {
  width: auto;
  height: 250px;
  border-radius: 10px;
}

.meme-name {
  font-size: 20px;
}

.memeInfo .meme-img {
  height: 300px;
}

.memeInfo * {
  margin: 0.5rem;
}

.update-form {
  border-radius: 20px;
  background-color: #240c4ae7;
  padding: 1rem;
  max-width: 500px;
  width: 80vw;
}

.delete-confirmation {
  border-radius: 20px;
  background-color: #240c4ae7;
  padding: 1rem;
}
